.statustext {
    box-sizing: border-box;
    margin: 4px;
    padding: 5px;
    text-align: center;
    color: rgb(73, 29, 29);
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    // border: 1px solid rgba(6, 44, 241, 0.46);
    // background-color: rgba(7, 73, 149, 0.12);
    // box-shadow: 0px 0px 2px #0396ff;
    transition: all .3s;
    height: 30px;
}

.added {
    border: 1px solid rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12);
    box-shadow: 0px 0px 2px #259c08;
}

.deleted {
    border: 1px solid rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 17, 1, 0.16);
    box-shadow: 0px 0px 2px #ff0303;
}

.updated {
    border: 1px solid rgba(6, 241, 226, 0.81);
    background-color: rgba(1, 204, 220, 0.16);
    box-shadow: 0px 0px 2px #03fff5;
}

h2 {
    color: #210f0fbb;
    text-decoration: underline 3px #210f0f84;
    text-underline-offset: 8px;

}

.users {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 4px;
}

.inp {
    margin: 8px 0;

    >* {
        border: 1.5px solid hsl(0, 0%, 83%);
        padding: 6px;
        font-size: .9rem;
        font-weight: 600;
    }

    input {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;

        &:focus {
            outline: none;
        }
    }

    button {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left: none;
        cursor: pointer;
        background-color: hsl(0, 0%, 83%);

        &:active {
            color: transparent;
        }
    }
}

span {
    padding: 2px 4px;
    margin: 2px;
}

.user-div {
    >div {
        display: flex;
        justify-content: space-between;
        margin-top: 6px;
        border: 1px solid hsl(0, 0%, 93%);
        transition: all 0.2s ease-in-out;
        border-radius: 4px;
        padding: 4px 5px;
        background-color: hsl(0, 0%, 98%);
        font-size: .9rem;
        font-weight: 500;

        &:nth-child(2n) {
            background-color: hsl(0, 0%, 92%);
            border: 1px solid hsl(0, 0%, 83%);
        }

        &:hover {
            box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
            transform: translateY(-1px);
        }

        >span {
            border: 1px solid transparent;
            border-radius: 4px;
        }

        >span[contenteditable='true'] {
            border: 1px solid hsl(0, 65%, 17%);
            outline: none;
        }

        >div {
            display: flex;
            align-items: flex-start;

            span {
                cursor: pointer;
                color: hsl(0, 50%, 40%);
                height: auto;

                &:active {
                    color: transparent;
                }
            }
        }

    }
}