/* You can add global styles to this file, and also import other style files */
app-user{
    display: flex;
    align-items: center;
    flex-direction: column;
}
body{
    margin: 0;
    padding: 0;
   
}